/* src/app/register/register.component.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: poppins;
  color: #131D29;
}
main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  height: 100vh;

}
main img{
  max-height: 100vh;
  margin: 0 -100px 0 -100px;

}

.register-container {
    width: 300px;
    padding: 20px;
    background-color: #e0f7fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  div {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 14px;
  }
  
  input {
    padding: 8px;
    border: 1px solid #131D29;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  button {
    background-color: #0A142F;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #273048;
  }
  
  .error {
    color: red;
    font-size: 14px;
    text-align: center;
  }
  