<nav class="navbar">
    <div class="logo">
      <h1>Estudando</h1>
      <h1>Direito</h1>
    </div>
  
    <div class="menu-central">
      <ng-container *ngIf="authService.isLoggedIn()">
        <a routerLink="/simulados">Simulados</a>
        <a href="#">Downloads</a>
        <a href="#">Ajuda</a>
        <a href="#">Caminho Diário</a>
      </ng-container>
    </div>
  
    <div class="usuario-nav">
      <ng-container *ngIf="authService.isLoggedIn(); else entrar">
        <a routerLink="/perfil">Perfil</a>
        <button class="submit" (click)="logout()">Sair</button>
      </ng-container>
      <ng-template #entrar>
        <a routerLink="/login">Entrar</a>
      </ng-template>
    </div>
  </nav>
  