@use '../../styles.scss';

a{
    text-decoration: none;
}
.homecontainer {
    width: 100%;
    height: 37rem;
    display: flex;
    justify-content: center;

    background-color: #0A142F; /* Cor base */
    background-image: 
        url('/assets/img/bolinhas.png'),
        linear-gradient(90deg, #0A142F, #3E5286);
    background-repeat: no-repeat;
    background-size: 30% 100%, 100% 100%;
    background-position: right;
}
.infohomecontainer h1 , p{
    color: white;

}
.infohomecontainer{
    width: 28rem;
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}
.containerimgs{
    display: flex;

}
.img-deusa {
    margin-top: 3rem;
    width: 18rem;
    height: 18rem;
    transform: scaleX(-1);
    
    -webkit-mask-image: linear-gradient(to top, transparent, rgba(0,0,0,1) 40%);
    mask-image: linear-gradient(to top, transparent, rgba(0,0,0,1) 20%);

    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.4));
}

.questao{
    height: 18rem;
    margin-right: -5rem;
    border-radius: 15px;
    margin-left: -2.7rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

#bnt-vamosla{
    background-color: white;
    color: #131D29;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin: 1rem 10rem 1rem 10rem;
}
.container2{
    padding: 2rem 0 2rem 0;
    background-color: #E0F7FA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
}
.container2 h1{
    width: 23rem;
    text-align: center;
}
#questaosimulado{
    height: 15rem;
}

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    h1{
        margin-bottom: 2rem;
    }
}

.itens_pq{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 2rem;
}

.pq{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    height: 16rem;
    width: 14rem;
    padding: 1rem;
    box-shadow: 0 6px 18px rgba(0,0,0,0.35);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 14px;
}

.itens_pq p{
    color: #000;
    font-size: 0.8rem;
}
.itens_pq h3{
    color: #000;
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
}

.pq:hover{
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

.footer-container {
    width: 100%;
    height: 10rem;
    margin-top: 3rem;
    background-color: #0A142F;
    display: flex;
    align-items: center;
    justify-content: center;

    a{
        color: white;
        text-decoration: underline;
    }
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}