<div *ngIf="!finalizado" class="question-wrapper">
  <div class="question-header">
    <img src="/assets/img/corujadireito.png" alt="Coruja Advogada" class="mascot" />
    <p class="question-counter">
      Pergunta {{ currentQuestionIndex + 1 }} de {{ questions.length }}
    </p>
    <button class="fullscreen-button" (click)="toggleFullscreen()" aria-label="Tela cheia">
      <img src="/assets/icons/telacheia.svg" alt="Tela cheia" />
    </button>
  </div>

  <h1 class="question-text">{{ questions[currentQuestionIndex]?.question_text }}</h1>

  <div class="alternatives">
    <div *ngFor="let alt of ['A', 'B', 'C', 'D', 'E']"
         [class.selected]="respostas[questions[currentQuestionIndex]?.id] === alt"
         class="alternative">
      <button (click)="responder(alt)">
        <span class="circle"></span>
        <span class="alternative-text">
          {{ alt }} - {{ questions[currentQuestionIndex]?.['alternative_' + alt.toLowerCase()] }}
        </span>
      </button>
    </div>
  </div>

  <div class="question-footer">
    <button class="skip" (click)="irPara(currentQuestionIndex - 1)" [disabled]="currentQuestionIndex === 0">Anterior</button>
    <button class="skip" (click)="irPara(currentQuestionIndex + 1)" [disabled]="currentQuestionIndex === questions.length - 1">Próxima</button>
  </div>

  <div style="text-align: right; margin-top: 1rem;">
    <button class="submit" (click)="finalizar()">Finalizar Simulado</button>
  </div>
</div>

<div *ngIf="finalizado" class="resultado">
  <div class="resultado-header">
    <h2 class="question-text">Resultado do Simulado</h2>
    <button class="submit" (click)="voltarHome()">Voltar para a Home</button>
  </div>


  <div *ngFor="let q of questions" class="resultado-questao">
    <h3 class="resultado-pergunta">{{ q.question_text }}</h3>

    <div class="alternatives">
      <div *ngFor="let alt of ['A', 'B', 'C', 'D', 'E']"
           [ngClass]="{
             'correta': alt === q.correct_answer && respostas[q.id] === q.correct_answer,
             'errada': alt === respostas[q.id] && alt !== q.correct_answer,
             'alternativa-certa': alt === q.correct_answer && respostas[q.id] !== q.correct_answer
           }"
           class="alternative">
        <div class="alternative-button">
          <span class="circle"></span>
          <span class="alternative-text">
            {{ alt }} - {{ q['alternative_' + alt.toLowerCase()] }}
          </span>
        </div>
      </div>
      <div class="resultado-feedback">
        <p *ngIf="respostaCorreta(q.id, q.correct_answer)">
          ✅ Você acertou a alternativa {{ q.correct_answer }}.
        </p>
        <p *ngIf="!respostaCorreta(q.id, q.correct_answer)">
          ❌ Você marcou a alternativa {{ respostas[q.id] }}. A correta era a {{ q.correct_answer }}.
        </p>
      
        <div class="explicacao">
          <strong>Explicação:</strong>
          <p>{{ q.explanation }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
