.question-wrapper {
  font-family: 'Poppins', sans-serif;
  max-width: 900px;
  margin: auto;
  padding: 1rem 2rem;
}

.question-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.mascot {
  width: 120px;
}

.progress-container {
  position: relative;
  width: 65%;
  margin: 20px 0;
}

.progress-label {
  font-weight: bold;
  position: absolute;
  left: 0;
  top: -25px;
}

.progress-bar {
  background-color: #3f528e;
  border-radius: 10px;
  height: 20px;
  width: 100%;
  overflow: hidden;
}

.progress-fill {
  background-color: #0b0f26;
  height: 100%;
  transition: width 0.3s ease-in-out;
  border-radius: 10px;
}

.fullscreen-button {
  background: transparent;
  border: none;
  cursor: pointer;

  img {
    width: 30px;
    height: 30px;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.question-text {
  font-size: 1.3rem;
  font-weight: 600;
}

.alternatives {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.alternative button {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  background: #f5f7fa;
  border: none;
  border-radius: 8px;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
  color: #333;
  transition: background 0.3s ease;
}

.alternative.selected button {
  background: #1a2e5a4a;
  color: white;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #2a3e82;
  background: transparent;
  transition: background 0.3s ease;
}

.alternative.selected .circle {
  background: #2a3e82;
}

.alternative-text {
  flex: 1;
}

.question-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.skip {
  background: #1a2e5a;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

.submit {
  background: #0f1633;
  color: white;
  padding: 0.8rem 1.4rem;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
.resultado{
 margin: 2rem;
}
.resultado-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.resultado-questao {
  margin: 1.5rem 3rem 0 3rem;
  padding: 1.5rem;
  border: 2px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
}

.resultado-pergunta {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.alternative-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: #f5f7fa;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
}

.correta .alternative-button {
  background: #d4edda;
  color: #155724;
  border-left: 6px solid #28a745;
}

.errada .alternative-button {
  background: #f8d7da;
  color: #721c24;
  border-left: 6px solid #dc3545;
}

.alternativa-certa .alternative-button {
  background: #fff3cd;
  color: #856404;
  border-left: 6px solid #ffc107;
}