<app-inicionavbar></app-inicionavbar>
<div class="main-section">
<section class="estudo-diario">
  <h2>📑 Estudo Diário</h2>
  
  <div class="caminho">
    <div
    class="etapa"
    *ngFor="let etapa of etapas; let i = index"
    [class.ativa]="i <= etapaAtual"
    (click)="iniciarEtapa(i)"
    >
    
      <div class="icone">
        <ng-container *ngIf="i <= etapaAtual; else cadeado">
          <div class="circulo"></div>
        </ng-container>
        <ng-template #cadeado>
          <div class="cadeado">🔒</div>
        </ng-template>
      </div>
    </div>
  </div>
  <div *ngIf="finalizado" class="finalizado">
    ✅ Estudo diário concluído hoje!
  </div>
</section>
<app-pontuacao></app-pontuacao>
</div>
