<!-- src/app/login/login.component.html -->
<main> 
  <div><img src="assets/img/themis.png" alt="themis"></div>
  <div class="login-container">
      <h2>Login</h2>

      <form (ngSubmit)="onSubmit()">
        <div>
          <label for="username">Username</label>
          <input id="username" [(ngModel)]="username" name="username" required />
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" required />
        </div>
        <button type="submit">Login</button>
      </form>
      <p class="register-redirecionar" (click)="redirecionar_register()">Você não está logado? registre-se aqui!</p>
      <div *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </div>
    </div>
</main>