<div class="question-wrapper" *ngIf="question">

  <div class="question-content">
    <div class="question-body">
      <h2 class="question-text">{{ question.question_text }}</h2>

      <ul class="alternatives">
        <li *ngFor="let alt of ['A', 'B', 'C', 'D', 'E']"
            [class.selected]="selectedAnswer === alt"
            (click)="selectAnswer(alt)">
          <span class="circle"></span>
          <span class="alternative-text">{{ question['alternative_' + alt.toLowerCase()] }}</span>
        </li>
      </ul>

      <div class="feedback" *ngIf="feedback">
        <p [class.correct]="feedback.is_correct" [class.incorrect]="!feedback.is_correct">
          {{ feedback.is_correct ? '✅ Resposta correta!' : '❌ Resposta incorreta.' }}
        </p>
        <p *ngIf="!feedback.is_correct">Resposta correta: {{ feedback.correct_answer }}</p>
      </div>
    </div>
  </div>
      <div class="voltar-estudo">
      <button (click)="voltarEstudoDiario()">
        🔙 Voltar para Estudo Diário
      </button>
    </div>


  <div style="text-align: right; margin-top: 1rem;">
    <button class="submit" (click)="submitAnswer()" [disabled]="!selectedAnswer">
      Responder
    </button>
  </div>
</div>
