.question-wrapper {
    font-family: 'Poppins', sans-serif;
    max-width: 900px;
    margin: auto;
    padding: 1rem 2rem;
  }
  
  .alternatives li.disabled {
  pointer-events: none;
  opacity: 0.6;
  }
  
  .fullscreen-button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }
  .fullscreen-button img {
    width: 30px;
    height: 30px;
  }
  
  
  .question-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
  }
  .progress-container {
    position: relative;
    width: 65%;
    margin: 20px 0;
  }
  
  .progress-label {
    font-weight: bold;
    position: absolute;
    left: 0;
    top: -25px;
  }
  
  .progress-bar {
    background-color: #3f528e;
    border-radius: 10px;
    height: 20px;
    width: 100%;
    overflow: hidden;
  }
  
  .progress-fill {
    background-color: #0b0f26;
    height: 100%;
    transition: width 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  .question-content {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
  }
  
  .mascot {
    width: 120px;
  }
  
  .question-body {
    flex: 1;
  }
  
  .question-text {
    font-size: 1.3rem;
    font-weight: 500;
  }
  
  .alternatives {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
  }
  
  .alternatives li {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    background: #f5f7fa;
    border-radius: 8px;
    margin-bottom: 0.7rem;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 1rem;
    color: #333;
  }
  
  .alternatives li.selected {
    background: #1a2e5a4a;
    color: white;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #2a3e82;
    background: transparent;
    margin-top: 4px;
    transition: background 0.3s ease;
  }
  
  .alternatives li.selected .circle {
    background: #2a3e82;
  }
  

  
  .alternative-text {
    flex: 1;
  }
  
  .feedback {
    margin-top: 1rem;
    font-size: 1rem;
  }
  
  .feedback p.correct {
    color: green;
  }
  
  .feedback p.incorrect {
    color: red;
  }
  
  .skip {
    background: #1a2e5a;
    color: white;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 8px;
  }
  
  .submit {
    background: #0f1633;
    color: white;
    padding: 0.8rem 1.4rem;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
  #finalizar{
    background: rgb(0, 158, 0);
  }

.voltar-estudo {
  position: fixed;
  top: 20px;
  right: 20px;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
}