# Django
*.log
*.pot
*.pyc
__pycache__/
__pycache__
db.sqlite3
media

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Django REST Framework
*.sqlite3
*.pyo
*.pyd

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db